{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
{% for movie in movies %}
    <div class="film" style="display: flex;flex-direction: column;align-items:center;justify-content: center;margin: 50px">
        {% if movie.isNew %}
            <span style="border-radius: 30px;background-color: gold;padding: 10px">nouveau</span>
        {% endif %}
        {{ movie.title }}<br>
        <a href="{{ path('app_director_profiile',{id:movie.director.id}) }}">{{ movie.director.name }}</a>
        {{ movie.synopsis }}
        {% for category in movie.getCategory %}
            {{ category.name }}
        {% endfor%}
        {{ movie.releaseDate | date("d/m/y") }}<br>
    </div>
    <br>
{% endfor %}
{% endblock %}
